body {
    background-color: grey;
}

.headings {
    text-align: center;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    animation: textAnimation 3.5s ;
}

@keyframes textAnimation {
    0%, 100% {
        color: blue;
        /* Start and end color */
    }

    10% {
        color: #0055FF;
        /* Darker blue */
    }

    30% {
        color: #0044CC;
        /* Even darker blue */
    }

    40% {
        color: #660000;
        /* Dark red */
    }

    50% {
        color: #990000;
        /* Even darker red */
    }

    60% {
        color: #920000;
    }
}


.buttonContainers {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 32vw;
    height: auto;
}

.scoreContainers {
    text-align: center;
    font-size: 24px;
    margin-top: 100px;
    width: 100vw;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media screen and (max-width: 800px) {
    .button {
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width: 700px) {
    .headings {
        font-size: 32px;
    }

    .button {
        width: 150px;
        height: 150px;
    }

    .buttonContainers {
        width: 100vw;
        margin-bottom: 10px;
    }
}